.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px dashed #000;
    animation: rotate 3s infinite linear ;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    from {
      transform:  rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.loader_text {

animation: rotate_alt 3s infinite linear;
}
 
@keyframes rotate_alt {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}